<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imgupload</title>
</head>
<body>
    <form action="{% url 'myapp:image_display' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    image:<input type="file" name="cm" id="cm"><br><br>
    image1:<input type="file" name="cm" id="cm"><br><br>
    image2:<input type="file" name="cm" id="cm"><br><br>
    image3:<input type="file" name="cm" id="cm"><br><br>
    <input type="submit" value="submit">
    
    </form>
    
</body>
</html>